<div class="jumbotron">
    <h1 class="display-4">Espace connexion</h1>
    <p class="lead">Ici vous pouvez vous connecter ou creer un compte membre</p>
</div>

<div class="fonctionalites"  ng-controller="loginCtrl">

    <div class="fonctionnalite" id="connexion">

        <h1 class="display-4 titrefonctionnalite">Connexion</h1>
        
        <div class="form-group">
            <label for="loginM">Login</label>
            <input type="text" class="form-control" ng-model="connecting.loginM" id="loginM">
        </div>
        <div class="form-group">
            <label for="mdpM">Mot de passe</label>
            <input type="password" class="form-control" ng-model="connecting.mdpM" id="mdpM">
        </div>
        
        <button class="btn btn-dark" ng-click="connexion(connecting)">Connexion</button>

    </div>
    
    <hr></hr>
    
    <div class="fonctionnalite" id="creerMembre">

        <h1 class="display-4 titrefonctionnalite">Inscription</h1>
        
        <div class="form-group">
            <label for="nomM">Nom</label>
            <input type="text" class="form-control" id="nomM">
        </div>
        <div class="form-group">
            <label for="prenomM">Prenom</label>
            <input type="text" class="form-control" id="prenomM">
        </div>
        <div class="form-group">
            <label for="mailM">Mail</label>
            <input type="mail" class="form-control" id="mailM">
        </div>
        <div class="form-group">
            <label for="loginM">Login</label>
            <input type="text" class="form-control" id="loginMem">
        </div>
        <div class="form-group">
            <label for="mdpM">Mot de passe</label>
            <input type="password" class="form-control" id="mdpMem">
        </div>
        <div class="form-group">
            <label for="adressM">Adresse</label>
            <input type="text" class="form-control" id="adressM">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="isTL">
            <label class="form-check-label" for="isTL">Team leader</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="isPresident">
            <label class="form-check-label" for="isPresident">Président</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="isSecretaire">
            <label class="form-check-label" for="isSecretaire">Secretaire</label>
        </div>
        
        <button class="btn btn-dark">Inscription</button>

    </div>
    
    <hr></hr>

</div>