<div class="jumbotron">
    <h1 class="display-4">Espace connexion</h1>
    <p class="lead">Ici vous pouvez vous connecter ou creer un compte membre</p>
</div>

<div class="fonctionalites"  ng-controller="loginCtrl">

    <div class="fonctionnalite" id="connexion">

        <h1 class="display-4 titrefonctionnalite">Connexion</h1>
        
        <div class="form-group">
            <label for="coLoginM">Login</label>
            <input type="text" class="form-control" ng-model="connecting.loginM" id="coLoginM">
        </div>
        <div class="form-group">
            <label for="coMdpM">Mot de passe</label>
            <input type="password" class="form-control" ng-model="connecting.mdpM" id="coMdpM">
        </div>
        
        <button class="btn btn-dark" ng-click="connexion(connecting)">Connexion</button>

    </div>
    
    <hr></hr>
    
    <div class="fonctionnalite" id="creerMembre">

        <h1 class="display-4 titrefonctionnalite">Inscription</h1>
        
        <div class="form-group">
            <label for="nomM">Nom</label>
            <input type="text" class="form-control" ng-model="inscrit.nomM" id="nomM">
        </div>
        <div class="form-group">
            <label for="prenomM">Prenom</label>
            <input type="text" class="form-control" ng-model="inscrit.prenomM" id="prenomM">
        </div>
        <div class="form-group">
            <label for="mailM">Mail</label>
            <input type="mail" class="form-control" ng-model="inscrit.mailM" id="mailM">
        </div>
        <div class="form-group">
            <label for="loginM">Login</label>
            <input type="text" class="form-control" ng-model="inscrit.loginM" id="loginM">
        </div>
        <div class="form-group">
            <label for="mdpM">Mot de passe</label>
            <input type="password" class="form-control" ng-model="inscrit.mdpM" id="mdpM">
        </div>
        <div class="form-group">
            <label for="adressM">Adresse</label>
            <input type="text" class="form-control" ng-model="inscrit.adressM" id="adressM">
        </div>
        <div class="form-group">
            <label for="niveauM">Niveau</label>
            <input type="number" class="form-control" ng-model="inscrit.niveauM" id="niveauM">
        </div>
        
        
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="isTL" ng-model="inscrit.isTL" ng-true-value="true" ng-false-value="false">
            <label class="form-check-label" for="isTL"  >Team leader</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="isPresident" ng-model="inscrit.isPresident" ng-true-value="true" ng-false-value="false">
            <label class="form-check-label" for="isPresident"   >Président</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="isSecretaire" ng-model="inscrit.isSecretaire" ng-true-value="true" ng-false-value="false">
            <label class="form-check-label" for="isSecretaire"   >Secretaire</label>
        </div>
        
        <button class="btn btn-dark" ng-click="inscription(inscrit)">Inscription</button>

    </div>
    
    <hr></hr>
    
    <div class="fonctionnalite" id="creerAsso">

        <h1 class="display-4 titrefonctionnalite">Creer asso</h1>
        
        <div class="form-group">
            <label for="asNomAsso">Nom</label>
            <input type="text" class="form-control" ng-model="asso.nomAsso" id="asNomAsso">
        </div>
        <div class="form-group">
            <label for="asBudgetAsso">Budget de départ</label>
            <input type="number" class="form-control" ng-model="asso.budgetAsso" id="asBudgetAsso">
        </div>
        <div class="form-group">
            <label for="asCotisationMin">Cotisation minimum</label>
            <input type="number" class="form-control" ng-model="asso.cotisationMin" id="asCotisationMin">
        </div>
        
        <button class="btn btn-dark" ng-click="creerAsso(asso)">Creer association</button>

    </div>
    
    <hr></hr>

</div>