<div class="jumbotron">
    <h1 class="display-4">Espace membre</h1>
    <p class="lead">Ici vous pouvez maj vos infos, payer votre cotisation, voter pour une date de rando, vous inscrire à une rando existante</p>
</div>

<div class="fonctionalites"  ng-controller="membreCtrl">

    <div class="fonctionnalite" id="majInfos">

        <h1 class="display-4 titrefonctionnalite">Maj infos</h1>
        
        <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nom" ng-model="membreMaj.nomM">
        </div>
        <div class="form-group">
            <label for="prenom">Prenom</label>
            <input type="text" class="form-control" id="prenom" ng-model="membreMaj.prenomM">
        </div>
        <div class="form-group">
            <label for="mailM">Mail</label>
            <input type="mail" class="form-control" ng-model="membreMaj.mailM" id="mailM">
        </div>
        <div class="form-group">
            <label for="loginM">Login</label>
            <input type="text" class="form-control" ng-model="membreMaj.loginM" id="loginM">
        </div>
        <div class="form-group">
            <label for="mdpM">Mot de passe</label>
            <input type="password" class="form-control" ng-model="membreMaj.mdpM" id="mdpM">
        </div>
        <div class="form-group">
            <label for="adressM">Adresse</label>
            <input type="text" class="form-control" ng-model="membreMaj.adressM" id="adressM">
        </div>
        <div class="form-group">
            <label for="niveauM">Niveau</label>
            <input type="number" class="form-control" ng-model="membreMaj.niveauM" id="niveauM">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="isTL" ng-model="membreMaj.isTL" ng-true-value="true" ng-false-value="false">
            <label class="form-check-label" for="isTL"  >Team leader</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="isPresident" ng-model="membreMaj.isPresident" ng-true-value="true" ng-false-value="false">
            <label class="form-check-label" for="isPresident"   >Président</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="isSecretaire" ng-model="membreMaj.isSecretaire" ng-true-value="true" ng-false-value="false">
            <label class="form-check-label" for="isSecretaire"   >Secretaire</label>
        </div>
        
        <button class="btn btn-dark" ng-click="majMembre(membreMaj)">Enregistrer</button>

    </div>
    
    <hr></hr>
    
    <div class="fonctionnalite" id="payerCotisation" >

        <h1 class="display-4 titrefonctionnalite">Payer une cotisation</h1>
        
        <div class="form-group">
            <label for="iban">Iban</label>
            <input type="text" class="form-control" id="iban" ng-model="paiement.iban">
        </div>
        <div class="form-group">
            <label for="cotisation">Cotisation</label>
            <input type="text" class="form-control" id="cotisation" ng-model="paiement.cotisation">
        </div>
        
        <button  ng-click="payerCotisation(paiement)" class="btn btn-dark">Payer</button>

    </div>
    
    <hr></hr>
    
    <div class="fonctionnalite" id="voterDate">

        <h1 class="display-4 titrefonctionnalite">Voter pour une date de rando</h1>
        
        <table ng-table="tableVoteDate" class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">titre</th>
                    <th scope="col">lieu</th>
                    <th scope="col">distance</th>
                    <th scope="col">date 1</th>
                    <th scope="col">date 2</th>
                    <th scope="col">date 3</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="randoVote in listRandoVote">
                    <td>{{randoVote.id}}</td>
                    <td>{{randoVote.titre}}</td>
                    <td>{{randoVote.lieu}}</td>
                    <td>{{randoVote.distance}}</td>
                    <td><button ng-click="voterDateRando(randoVote.id,randoVote.date1)" type="button" class="btn btn-dark">{{randoVote.date1}}</button></td>
                    <td><button ng-click="voterDateRando(randoVote.id,randoVote.date2)" type="button" class="btn btn-dark">{{randoVote.date2}}</button></td>
                    <td><button ng-click="voterDateRando(randoVote.id,randoVote.date3)" type="button" class="btn btn-dark">{{randoVote.date3}}</button></td>
                </tr>
            </tbody>
        </table>

    </div>
    
    <hr></hr>
    
    <div class="fonctionnalite" id="inscrireRando">

        <h1 class="display-4 titrefonctionnalite">S'inscrire à une rando</h1>
        
        <table ng-table="tableVoteDate" class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">titre</th>
                    <th scope="col">lieu</th>
                    <th scope="col">distance</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="randoDispo in listRandoInscriOuverte">
                    <td>{{randoDispo.id}}</td>
                    <td>{{randoDispo.titre}}</td>
                    <td>{{randoDispo.lieu}}</td>
                    <td>{{randoDispo.distance}}</td>
                    <td><button ng-click="inscrireRando(randoDispo.id)" type="button" class="btn btn-dark">S'inscrire</button></td>
                </tr>
            </tbody>
        </table>

    </div>
    
    <hr></hr>

</div>


