

        
<div class="jumbotron">
    <h1 class="display-4 titre">Espace secretaire</h1>
    <p class="lead">Ici vous pouvez consulter la liste des membres et mettre à jour le certificat médical d'un membre</p>
</div>

<div class="fonctionalites" ng-controller="secretaireCtrl">

    <div class="fonctionnalite" id="listeMembre">
        
        <h1 class="display-4 titrefonctionnalite">Liste des membres</h1>
        
        <table ng-table="tableMembre" class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">nom</th>
                    <th scope="col">prenom</th>
                    <th scope="col">annee certif medical</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="membre in listMembre">
                    <th scope="row">{{membre.idM}}</th>
                    <td>{{membre.nomM}}</td>
                    <td>{{membre.prenomM}}</td>
                    <td>{{membre.anneeCertificat}}</td>
                    <td><button ng-click="majCertifMedical(membre.idM)" type="button" class="btn btn-dark">maj certif medical</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <hr></hr>

</div>



