<div class="jumbotron">
    <h1 class="display-4">Espace team leader</h1>
    <p class="lead">Ici vous pouvez proposer une randonnée avec 3 dates, voter et ainsi cloturer les votes pour une de vos randonnés, cloturer les inscriptions à une de vos randonnées</p>
</div>

<div class="fonctionalites" ng-controller="teamleaderCtrl">

    <div class="fonctionnalite" id="nouvelleRando">

        <h1 class="display-4 titrefonctionnalite">Nouvelle randonnée</h1>
        
        <div class="form-group">
            <label for="titre">Titre</label>
            <input type="text" class="form-control" id="titre" ng-model="newRando.titreR">
        </div>
        <div class="form-group">
            <label for="niveau">Niveau</label>
            <input type="text" class="form-control" id="niveau" ng-model="newRando.niveauCible">
        </div>
        <div class="form-group">
            <label for="lieu">Lieu</label>
            <input type="text" class="form-control" id="lieu" ng-model="newRando.lieuR"> 
        </div>
        <div class="form-group">
            <label for="distance">Distance</label>
            <input type="text" class="form-control" id="distance" ng-model="newRando.distanceR"> 
        </div>
        <div class="form-group">
            <label for="coutFixe">Cout fixe</label>
            <input type="text" class="form-control" id="coutFixe" ng-model="newRando.coutFixeR"> 
        </div>
        <div class="form-group">
            <label for="coutVar">Cout variable</label>
            <input type="text" class="form-control" id="coutVar" ng-model="newRando.coutVariableR"> 
        </div>
        <div class="form-group">
            <label for="date1">Date 1</label>
            <input type="date" class="form-control" id="date1" ng-model="newRando.date1"> 
        </div>
        <div class="form-group">
            <label for="date2">Date 2</label>
            <input type="date" class="form-control" id="date2" ng-model="newRando.date2"> 
        </div>
        <div class="form-group">
            <label for="date3">Date 3</label>
            <input type="date" class="form-control" id="date3" ng-model="newRando.date3"> 
        </div>
        
        <button class="btn btn-dark" ng-click="creerRando(newRando)">Créer</button>

    </div>
        
    <hr></hr>
    
    <div class="fonctionnalite" id="voterDate">

        <h1 class="display-4 titrefonctionnalite">Cloturer les votes pour une randonnée</h1>
        
        <table ng-table="tableVoteDate" class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">titre</th>
                    <th scope="col">lieu</th>
                    <th scope="col">distance</th>
                    <th scope="col"></th>
                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="randoVoteTL in listRandoVoteTL">
                    <td>{{randoVoteTL.id}}</td>
                    <td>{{randoVoteTL.titre}}</td>
                    <td>{{randoVoteTL.lieu}}</td>
                    <td>{{randoVoteTL.distance}}</td>
                    <td><button ng-click="cloturerVotesRando(randoVoteTL.idR)" type="button" class="btn btn-dark">Cloturer</button></td>
                   </tr>
            </tbody>
        </table>

    </div>
        
    <hr></hr>
    
    <div class="fonctionnalite" id="voterDate">

        <h1 class="display-4 titrefonctionnalite">Cloturer les inscriptions pour une randonnée</h1>
        
        <table ng-table="tableVoteDate" class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">titre</th>
                    <th scope="col">lieu</th>
                    <th scope="col">distance</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="randoFixeTL in listRandoFixeTL">
                    <td>{{randoFixeTL.idR}}</td>
                    <td>{{randoFixeTL.titreR}}</td>
                    <td>{{randoFixeTL.lieuR}}</td>
                    <td>{{randoFixeTL.distanceR}}</td>
                    <td><button ng-click="cloturerInscriptionRando(randoFixeTL.idR)" type="button" class="btn btn-dark">Cloturer</button></td>
                </tr>
            </tbody>
        </table>
        
    </div>
    
    <hr></hr>
    
</div>